<!DOCTYPE html>
<html lang="ja xmlns:th=http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>投稿完了｜Spring Blogs</title>
</head>

<body>
    <header>
        <a href="/blogs" class="spring">
            <h1>Spring Blogs</h1>
        </a>
        <input type="text" placeholder="キーワード検索" name="searchForm">
        <a href="/blogs/newPost" class="post">投稿</a>
    </header>

    <nav>
        <ul>
            <a href="/blogs" class="home"><li>ホーム</li></a>
            <li>プロフィール</li>
        </ul>
    </nav>

    <h1>投稿完了</h1>
    <p>投稿が完了しました。</p>
    <!-- <p>「<span th:text="${title}">ブログタイトル</span>」を投稿しました。</p> -->
</body>

</html>